[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standart"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
fastapi-sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pylint = "*"
redis = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.9"
